.option-container {
    display: flex;
    flex-wrap: wrap;
}

app-fish-preview {
    flex: 45%;
    margin: 5px 10px;
    border: 1px solid #000;
    padding: 0px 10px;
}

.hidden {
    display: none;
}

@media all and (max-width: 600px) {
    app-fish-preview {
        width: 100%;
    }
}
